<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.7</string>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.vtx.inputmethod.telex.vi</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.vtx.inputmethod.telex.vi</string>
				<key>TISIntendedLanguage</key>
				<string>vi</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>MenuIcon.pdf</string>
				<key>tsInputModeAlternateMenuTitleStringKey</key>
				<string>VTX</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Latn</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>0</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>MenuIcon.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>MenuIcon.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.vtx.inputmethod.telex.vi</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.vtx.inputmethod.telex_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>VietTelex.TelexInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>VietTelex.TelexInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.vtx.inputmethod.telex</string>
</dict>
</plist>
